html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    background-color: rgb(58, 57, 57);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 90%;
    height: 80px;
    background-color: rgb(237, 231, 231);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    justify-items: center;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: lightgray;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: darkgray;
}

button:active {
    background: gray;
}
